<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="~/Assets/img/favicon.png" sizes="192x192" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Assets/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <title>Fiorello &#8211; @ViewData["title"]</title>
</head>