@model List<Product>
<section id="products">
    <div class="container">
        <div class="row">

            @foreach (var product in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="product-item text-center">
                        <div class="img">
                            <a asp-action="Detail" asp-route-id="@product.Id">
                                <img src="~/Assets/img/@product.Image.Where(image=>image.IsMain==true).FirstOrDefault().Image" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="title mt-3">
                            <h6>@product.Name</h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">Add to cart</span>
                            <span class="text-black-50">$@product.Price</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row my-5 justify-content-center ">
            <button class="btn btn-primary">Load More</button>
        </div>
    </div>
</section>