@model List<Product>
<section id="products">
    <div class="container">
        <div class="row products">
            <partial name="_ProductPartial" ></partial>
            <input type="hidden" id="productcount" value="@ViewBag.productscount">
        </div>
        <div class="row my-5 justify-content-center ">
            <button id="btn_ld" class="btn btn-primary">Load More</button>
        </div>
    </div>
</section>